################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GigHub2/.vs/GigHub2/v14/.suo
/GigHub2/.vs/config/applicationhost.config
/GigHub2/GigHub2/obj/Debug/CoreCompileInputs.cache
